form{
    background-color: blue;
    width: 60%;
    margin-left: 270px;
    margin-top: 100px;
    font-size: 20px;
    color: white;
    padding:10px 40px 30px 20px;
}
.ti{
   margin-left: 100px ;
   
}
.ok{
    width: 40px;
    margin-left: 6px;
}
.ko{
   width: 40px; 
}
.lo{
    width: 40px;
    margin-left: 18px;
}
.f{
    margin-left: 18px;
}
.f1{
    margin-left: 40px
}
.s1{
    margin-left: 50px;
}
.s2{
    margin-left: 50px;
}
